*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Moderustic', sans-serif;
}

body{
    background-color: #3498db;
}

::selection{
    color: #fff;
    background-color: #3498db;
}

.info-section,
.quiz-section,
.result-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info-section.activeInfo,
.quiz-section.activeQuiz,
.result-section.activeResult {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Informantion Page */
.info-section{
    width: 600px;
    background-color: #ecf0f1;
    border-radius: 15px;
}

.info-section .title{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
}


.info-section .intro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 50px 15px; 
    font-size: 17px;
}

.intro p span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.user-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-input input{
    font-size: 20px;
    text-align: center;
    border-color: #0d6efd;
    border-radius: 15px;
    padding: 5px 0;
}


.start-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.start-btn button{
    font-size: 18px;
    font-weight: 500;
    color: #3498db;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: #3498db 1px solid;
}

.start-btn button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.start-btn button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* Quiz Page */
.quiz-section{
    width: 600px;
    background-color: #ecf0f1;
    border-radius: 15px;
}

.quiz-section header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    border-radius: 15px 15px 0 0;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 6px -4px #0d6efd;
}

.quiz-section .quiz-title{
    font-size: 24px;
    font-weight: 650;
}

.quiz-section header .timer{
    color: #3498db;
    background-color: #ecf0f1;
    border:  1px solid #3498db;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.quiz-section header .timer .time-sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #343a40;
    user-select: none;
}

section{
    padding: 25px 30px 20px 30px;
    background-color: #ecf0f1;
}

section .question-txt{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
}

section .option{
    background-color: #ecf0f1;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;   

}

section .option-txt .option{
    background-color: #ecf0f1;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

section .option-txt .option:last-child{
    margin-bottom: 0; 
}

/* Hover effect on options */
section .option-txt .option:hover{
    color: #3498db;
    background-color: #ecf0f1;
    border: 1px solid #3498db;
}

/* incorrect color */
.option.incorrect{
    color: #000;
    background-color: rgb(240,147,138, 0.7);
    border: 1px solid #e74c3c;
}

/* correct color */
.option.correct{
    color: #000;
    background-color: rgb(129,224,169, 0.7);
    border: 1px solid #2ecc71;
}

section .option-list .option.disabled{
    pointer-events: none;
}

/* footer */
footer{
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #3498db;
}

footer button{
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

footer button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* result section */
.result-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 30px 0;
    width: 600px;
    background-color: #ecf0f1;
    border-radius: 15px;
}

.result-section .icon{
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d6efd;
}

.result-section .completed-txt{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.username-output{
    color: #0d6efd;
}

.total-txt{
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}

.result-section .total-txt span{
    display: flex;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.result-section .total-txt span p{
    padding: 0 4px;
    font-weight: 600;
}

.result-section .button{
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.result-section .button button{
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

.result-section .button .restart-btn{
    font-weight: 600;
}

.result-section .button .restart-btn:hover{
    color: #fff;
    background-color: #0d6efd;
}

/* Media Query */
@media only screen and (max-width: 750px) {
    .info-section, 
    .quiz-section, 
    .result-section {
        width: 90%;
        padding: 15px;
    }

    .info-section .intro{
        font-size: 14px;
    }

    .quiz-section header .timer {
        width: 100px;
    }

    .quiz-section .quiz-title{
        font-size: 20px;
    }

    section .quesiton-txt {
        font-size: 18px;
        font-weight: bold;
    }

    section .option-txt .option {
        font-size: 14px;
    }

    .info-section p {
        font-size: 14px;
        text-align: center;
    }

}